# general modules
django >3.2,<3.3

# 3rd party modules
markdown
django-filter
python-decouple
Faker


# rest framework
djangorestframework
djangorestframework-simplejwt

# documentation
coreapi
drf-yasg[validation]

# refactoring and tests
pytest
pytest-django
black
flake8

# background processing and cache
redis 
celery